.face-snap-card {
  width: 50%;
  margin: 20px auto;
  img {
    padding: 5px 0;
    background-size: cover;
    width: 100%;
  }
  //button {
  //  background-color: transparent;
  //  box-sizing: border-box;
  //  padding: 5px 10px;
  //  border: none;
  //  //box-shadow: black 3px 3px 7px;
  //  margin-right: 20px;
  //  outline: none;
  //  font-size: 14px;
  //  font-weight: 500;
  //  &:active {
  //    transform: translate(1px, 1px);
  //    box-shadow: black 0 0 5px;
  //  }
  //}
}
